<body>
  <div>
    <header class="header" data-header>
      <div class="container">
        <a href="#" class="logo">Bookish</a>
        <nav class="navbar" data-navbar>
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>
            <li class="navbar-item">
              <a href="#benefits" class="navbar-link" data-nav-link>Benefits</a>
            </li>
            <li class="navbar-item">
              <a href="#chapters" class="navbar-link" data-nav-link>Chapters</a>
            </li>
            <li class="navbar-item">
              <a href="#pricing" class="navbar-link" data-nav-link>Pricing</a>
            </li>
            <li class="navbar-item">
              <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
            </li>
          </ul>
        </nav>
        <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
          <!-- <ion-icon name="menu-outline" aria-hidden="true" class="open"></ion-icon> -->
          <!-- <ion-icon name="close-outline" aria-hidden="true" class="close"></ion-icon> -->
        </button>
      </div>
    </header>
    <main>
      <article>
        <section class="section hero" id="home" aria-label="home">
          <div class="container">
            <div class="hero-content">
              <p class="section-subtitle">Let's Make The Best Investment</p>
              <h1 class="h1 hero-title" id="hero-h">Read More And Make Success The Result Of Perfection.</h1>
              <p class="section-text">
                Immerse yourself in a user-friendly ebook haven with personalized recommendations and a vibrant reading community for an enriching experience.
              </p>
            </div>
            <div class="hero-banner has-before">
              <img src="--------------------------" alt="">
            </div>
          </div>
        </section>
    
        <section class="section benefits" id="benefits" aria-label="benefits">
          <div class="container">
            <div class="grid-list">
              <li class="benefits-content">
                <h2 class="h2 section-title" id="achive">Book <span class="categories">categories</span></h2>
                <p class="section-text">Immerse yourself with variety of categories</p>
              </li>
              <li>
                <div class="benefits-card has-before has-after" id="card">
                  <div class="card-icon">
                    <img src="./assets/images/benefits-1.svg" width="40" height="40" loading="lazy" alt="Experience">
                  </div>
                  <h3 class="h3 card-title" id="card-t">Fiction</h3>
                  <p class="card-text">
                    Dive into captivating stories with diverse plots, characters, 
                    and settings, ensuring an immersive reading experience.
                  </p>
                  <a href="#" class="btn-link">
                    <span class="span">Read more</span>
                    <!-- <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon> -->
                  </a>
                </div>
              </li>
              <li>
                <div class="benefits-card has-before has-after">
                  <div class="card-icon">
                    <img src="./assets/images/benefits-2.svg" width="40" height="40" loading="lazy" alt="Motivation">
                  </div>
                  <h3 class="h3 card-title" id="card-t">Non-fiction</h3>
                  <p class="card-text">
                    Explore limitless inspiration, overcome barriers, 
                    and unlock success with a trove of motivational eBooks.
                  </p>
                  <a href="#" class="btn-link">
                    <span class="span">Read more</span>
                    <!-- <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon> -->
                  </a>
                </div>
              </li>    
              <li>
                <div class="benefits-card has-before has-after">

                  <div class="card-icon">
                    <img src="./assets/images/benefits-3.svg" width="40" height="40" loading="lazy" alt="Goals">
                  </div>
                  <h3 class="h3 card-title" id="card-t">Mystery</h3>
                  <p class="card-text">
                    Embark on enigmatic journeys, unravel mysteries, 
                    and discover thrilling narratives in our captivating collection.
                  </p>
                  <a href="#" class="btn-link">
                    <span class="span">Read more</span>
                    <!-- <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon> -->
                  </a>
                </div>
              </li>
              <li>
                <div class="benefits-card has-before has-after">
                  <div class="card-icon">
                    <img src="./assets/images/benefits-4.svg" width="40" height="40" loading="lazy" alt="Vision">
                  </div>
                  <h3 class="h3 card-title" id="card-t">Romance</h3>
                  <p class="card-text">
                    Indulge in tales of passion, love, 
                    and heartwarming connections in our enchanting romance selection.
                  </p>
                  <a href="#" class="btn-link">
                    <span class="span">Read more</span>
                    <!-- <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon> -->
                  </a>
                </div>
              </li>
              <li>
                <div class="benefits-card has-before has-after">
                  <div class="card-icon">
                    <img src="./assets/images/benefits-5.svg" width="40" height="40" loading="lazy" alt="Mission">
                  </div>
                  <h3 class="h3 card-title" id="card-t">Biography</h3>
                  <p class="card-text">
                    Embark on captivating journeys through the lives of inspiring individuals in our compelling biography ebook</p>
                  <a href="#" class="btn-link">
                    <span class="span">Read more</span>
                    <!-- <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon> -->
                  </a>
                </div>
              </li>
              <li>
                <div class="benefits-card has-before has-after">
                  <div class="card-icon">
                    <img src="./assets/images/benefits-6.svg" width="40" height="40" loading="lazy" alt="Strategy">
                  </div>
                  <h3 class="h3 card-title" id="card-t">Young Adult</h3>
                  <p class="card-text">
                    Dive into captivating stories tailored for young adults, exploring themes of growth, discovery, and self-realization.    
                  </p>
                  <a href="#" class="btn-link">
                    <span class="span">Read more</span>
                    <!-- <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon> -->
                  </a>
                </div>
              </li>
            </div>
          </div>
        </section>
    
        <section class="section preview" aria-label="preview">
          <div class="container">
    
            <p class="section-subtitle">Chapter Preview</p>
    
            <h2 class="h2 section-title has-underline" id="read-section">
              Read some chapter free
              <span class="span has-before"></span>
            </h2>
    
            <ul class="tab-list">
    
              <li>
                <div class="tab-card active" data-tab-card>
                  <h3 class="h3 tab-text">Chapter 1</h3>
    
                  <img src="./assets/images/preview-1.png" width="820" height="630" loading="lazy" alt="Chapter 1"
                    class="w-100">
                </div>
              </li>
    
              <li>
                <div class="tab-card" data-tab-card>
                  <h3 class="h3 tab-text">Chapter 2</h3>
    
                  <img src="./assets/images/preview-2.png" width="820" height="630" loading="lazy" alt="Chapter 2"
                    class="w-100">
                </div>
              </li>
    
              <li>
                <div class="tab-card" data-tab-card>
                  <h3 class="h3 tab-text">Chapter 3</h3>
    
                  <img src="./assets/images/preview-3.png" width="820" height="630" loading="lazy" alt="Chapter 3"
                    class="w-100">
                </div>
              </li>
    
              <li>
                <div class="tab-card" data-tab-card>
                  <h3 class="h3 tab-text">Chapter 4</h3>
    
                  <img src="./assets/images/preview-4.png" width="820" height="630" loading="lazy" alt="Chapter 4"
                    class="w-100">
                </div>
              </li>
    
              <li>
                <div class="tab-card" data-tab-card>
                  <h3 class="h3 tab-text">Chapter 5</h3>
    
                  <img src="./assets/images/preview-5.png" width="820" height="630" loading="lazy" alt="Chapter 5"
                    class="w-100">
                </div>
              </li>
    
            </ul>
    
          </div>
        </section>
    
    
        <section class="section pricing" id="pricing" aria-label="pricing">
          <div class="container">
    
            <p class="section-subtitle">Pricing</p>
    
            <h2 class="h2 section-title has-underline" id="read-section">
              Pricing based on their version
              <span class="span has-before"></span>
            </h2>
    
            <ul class="grid-list">
    
              <li>
                <div class="pricing-card">
    
                  <h3 class="h3 card-title">E-Book</h3>
    
                  <data class="price" value="5">Rs 160</data>
    
                  <ul class="pricing-card-list">
    
                    <li class="card-item">
                      <p class="card-text">Single E-book</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">PDF and EPUB</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">Hardcover Book</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">Access to Downloads</p>
                    </li>
    
                  </ul>
    
                  <button class="btn btn-secondary" id="price-btn">BUY NOW</button>
    
                </div>
              </li>
    
              <li>
                <div class="pricing-card bundle">
    
                  <h3 class="h3 card-title">Bundle</h3>
    
                  <data class="price" value="15">Rs 1200</data>
    
                  <ul class="pricing-card-list">
    
                    <li class="card-item">
                      <p class="card-text">Collection of 12 Books</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">PDF and EPUB</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">Hardcover Book</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">Access to Downloads</p>
                    </li>
    
                  </ul>
    
                  <button class="btn btn-primary" id="price">BUY NOW</button>
    
                </div>
              </li>
    
              <li>
                <div class="pricing-card">
    
                  <h3 class="h3 card-title">Hardcover</h3>
    
                  <data class="price" value="10">Rs 800</data>
    
                  <ul class="pricing-card-list">
    
                    <li class="card-item">
                      <p class="card-text">Complete Book</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">PDF and EPUB</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">Hardcover Book</p>
                    </li>
    
                    <li class="card-item">
                      <p class="card-text">Access to Downloads</p>
                    </li>
    
                  </ul>
    
                  <button class="btn btn-secondary" id="price-btn">BUY NOW</button>
    
                </div>
              </li>
    
            </ul>
    
          </div>
        </section>
    
        <section class="section contact" id="contact" aria-label="contact">
          <div class="container">
    
            <p class="section-subtitle">Contact</p>
    
            <h2 class="h2 section-title has-underline" id="read-section">
              Write me anything
              <span class="span has-before"></span>
            </h2>
    
            <div class="wrapper">
    
    
            <form class="contact-form" method="post">
    
              <input type="text" name="name" placeholder="Your Name" required class="input-field">
    
              <input type="email" name="email" placeholder="Your Email" required class="input-field">
    
              <input type="text" name="subject" placeholder="Subject" required class="input-field">
    
              <textarea name="message" placeholder="Your Message" class="input-field" required></textarea>
    
              <button type="submit" class="btn btn-primary" id="btn-submit">Send Now</button>
    
            </form>
    
              <ul class="contact-card">
    
                <li>
                  <p class="card-title">Address:</p>
    
                  <address class="address" id="add">
                    Perundurai <br>
                    Erode - 638011
                  </address>
                </li>
    
                <li>
                  <p class="card-title">Phone:</p>
    
                  <a href="tel:1234567890" id="add" class="card-link">9944215965</a>
                </li>
    
                <li>
                  <p class="card-title">Email:</p>
    
                  <a href="mailto:support@support.com" id="add" class="card-link">bookish&#64;gmail.com</a>
                </li>
    
                <li>
                  <p class="social-list-title h3" id="connectbook">Connect book socials</p>
    
                  <ul class="social-list">
    
                    <li>
                      <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-facebook"></ion-icon> -->
                      </a>
                    </li>
    
                    <li>
                      <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-twitter"></ion-icon> -->
                      </a>
                    </li>
    
                    <li>
                      <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-linkedin"></ion-icon> -->
                      </a>
                    </li>
    
                    <li>
                      <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-youtube"></ion-icon> -->
                      </a>
                    </li>
    
                    <li>
                      <a href="#" class="social-link">
                        <!-- <ion-icon name="logo-whatsapp"></ion-icon> -->
                      </a>
                    </li>
    
                  </ul>
                </li>
    
              </ul>
    
            </div>
    
          </div>
        </section>
    
      </article>
    </main>
    <footer class="footer">
      <div class="container">
    
        <div class="footer-top">
    
          <a href="#" class="logo">Bookish</a>
    
          <ul class="footer-list">
    
            <li>
              <a href="#" class="footer-link">Home</a>
            </li>
    
            <li>
              <a href="#" class="footer-link">Benefits</a>
            </li>
    
            <li>
              <a href="#" class="footer-link">Chapters</a>
            </li>
    
            <li>
              <a href="#" class="footer-link">Pricing</a>
            </li>
    
            <li>
              <a href="#" class="footer-link">Contact</a>
            </li>
    
          </ul>
    
        </div>
    
        <div class="footer-bottom">
          <p class="copyright">
            &copy; Sanjaykar GC
          </p>
        </div>
    
      </div>
    </footer>
  </div>
</body>
<p-button label="Sign out" (onClick)="logOut()" class="logout"></p-button>